{{>header}}
<div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Años de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#each lista}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td><div style="background-image: url('/{{this.foto}}');"></div></td>
                <td>"{{this.nombre}}"</td>
                <td>{{this.anos_experiencia}}</td>
                <td>"{{this.especialidad}}"</td>
                {{#if this.estado}}
                <td><input type="checkbox" checked /></td>
                {{else}}
                <td><input type="checkbox" /></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button id="btn-actualizar" type="button" class="btn btn-success">Actualizar</button>
    <button id="btn-salir" type="button" class="btn btn-secondary">Salir</button>
</div>
<script>
    $(() => {
        $('#btn-actualizar').click(function(){
            const token = localStorage.getItem("token");
            const listaId = $("tbody th");
            const listaEstado = $("tbody input");
            let lista = [];

            listaId.each((index, id) => {
                lista.push({
                    id: listaId[index].innerHTML,
                    estado: listaEstado[index].checked
                });
            })
            $.ajax({
                method: 'put',
                url: '/admin',
                headers: {
                    authorization: token
                },
                dataType: 'json',
                data: {datos: lista},
                success: function(data){
                    alert(data.message);
                },
                error: function(error){
                    if(error.status == 404)
                        alert(error.responseJSON.message)
                    else if(error.status == 403)
                        alert(error.responseJSON.message)
                    else
                        alert("Ocurrió un error interno en el servidor")
                }
            })
        });
        
        $('#btn-salir').click(function(){
            localStorage.removeItem("token");
            window.location.replace('/');
        });
    })
</script>
{{>footer}}